#myBtn {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #FFC000;
    /* color: white; */
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    transition-duration: 1s;
    /* animation: too 2s linear infinite; ; */
  }

  @keyframes too {
    0%{
    transform: translateY(-30px);
    }
    25%{
      transform: translateY(0px);
    }

    50%{
      transform: translateY(-10px);
    }

    75%{
      transform: translateY(-20px);
    }

    100%{
      transform: translateY(-30px);
    }
  }
  #myBtn:hover {
    /* background-color: #555; */
  }