.services-main{
    /* background-color:  #FCC000; */
    max-width: 100%;
    overflow: hidden;
    padding: 3% 15%;
}

.services-1{
text-align: start;
margin-bottom: 1rem;
/* background-color: yellow; */
padding: 2rem 0;

}

.services-1 h2{
    font-weight:  500;
    font-size: 40px;
    margin-bottom: 1rem;
    letter-spacing: -.1rem;
}

.services-1 p {
    font-weight: 300;
    text-align: justify;
    font-size: 17px;
}
.services-2{
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
}

.services-2 img {
    /* padding: 0 5% 0 0; */
    min-height: 30rem;
    min-width: 100%;

}

.s2-img img{
    padding-right: 4rem;
}

/* ------------------------- */

.services-3{
    background-color: #f7f7f7;
    padding: 3rem 3rem;
    margin-top: 3rem;
}

.s3-row{
    background-color:  white;
    margin: 1% 3% 2% 0;
    padding: 1.5% 3%;
    font-size: 20px;
    border-radius: .3rem;
}
.s3-row img{
    margin-right: .2rem;
}

.s3-head{
    font-size: 40px;
    margin-bottom: 2rem;
}


/* ---------------------------------- */


.services-4{
    /* background-color: cadetblue; */
    overflow: hidden;
    /* padding: 5% 0; */
}

.column {
	margin: 0   ;
	padding: 2%;

    background-color: gainsboro;

}
.column:last-child {
	/* padding-bottom: 60px; */
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
    display: flex;
    flex-wrap: wrap;
	width: 33%;
	height: 500px;
	margin: 0;
	padding: 0;
    overflow: hidden;
    justify-content: center;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	z-index: -1;
    bottom: -300px;
	display: flex;
    justify-content: center;
    align-items: center;
	width: 70% !important;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
	opacity: 0;
    height:3rem;
    overflow: hidden;
}
figure {
	width: 400px;
	height: 700px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: 10%;
    left: 15%;
	opacity: 1;
    z-index: 100000;
    max-width: 70%;
    background-color: #fcc000;
    padding: 2%;


}


/* Zoom Out #1 */
.hover03 figure img {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in;

}


.hover03 figure:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}


@media screen and (max-width:1700px) {
    .column div {
        position: relative;
        float: left;
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        height: 500px;
        margin: 0 2%;
        padding: 0;
        overflow: hidden;
        justify-content: center;
    }
}


@media screen and (max-width:1200px) {
    .column div {
        position: relative;
        float: left;
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        height: 500px;
        margin: 0 2%;
        padding: 0;
        overflow: hidden;
        justify-content: center;
    }

.column div span{
    height: 4rem;
}

    .services-4{
        /* background-color: cadetblue; */
        overflow: hidden;
        padding: 1% 0;
    }
}



@media screen and (max-width:500px) {

    .services-main{
        /* background-color:  #FCC000; */
        max-width: 100%;
        overflow: hidden;
        padding: 3% 8%;
    }

    /* ----------------- */
    .services-1{
        text-align: start;
        margin-bottom: .5rem;
        /* background-color: yellow; */
        padding: 1.5rem 0;
        
        }
        
        .services-1 h2{
            font-weight:  500;
            font-size: 30px;
            margin-bottom: 1rem;
            letter-spacing: 0;
        }
        
        .services-1 p {
            font-weight: 300;
            text-align: justify;
            font-size: 15px;
        }

        /* -------------- */

        .services-2{
            display: block;
            justify-content: space-between;
            /* background-color: yellow; */
        }
        
        .services-2 img {
            /* padding: 0 5% 0 0; */
            min-height: 20rem;
            max-width: 100%;
        
        }
        
        .s2-img img{
            padding-right: 0;
            margin-bottom: 2rem;
        }

        /* ------------------ */
        .services-3{
            background-color: #f7f7f7;
            padding: 1rem;
            margin-top: 1rem;
        }
        
        .s3-row{
            background-color:  white;
            margin: 1%;
            padding: 4%;
            font-size: 20px;
            display: flex;
            justify-content: center;
            border-radius: .5rem;
        }
        .s3-row img{
            margin-right: 1rem;
        }
        
        .s3-head{
            font-size: 35px;
            margin-bottom: 1rem;
        }
        

        /* ------------------- */
        .column div {
            position: relative;
            float: none;
            display: block;
            flex-wrap: wrap;
            width: 100%;
            height: 500px;
            margin: .5rem 0;
            padding: 0;
            overflow: hidden;
        }
        .services-4{
            /* background-color: cadetblue; */
            overflow: hidden;
            padding:  0% !important;
        }

        .column{
            padding: 0;
        }
        
}

/* ----------------------- */


.service-parallex{
    background-image: url("../../assets/img/WhatsApp Image 2023-01-10 at 2.39.52 PM.jpeg") ;
    color: white !important;
    font-weight: 300 !important;
}



@media screen and (max-width: 600px) {
    .service-parallex{
        display: block;
        text-align: left !important;
        padding: 1rem !important;
    }

    .service-parallex .Para-1{
        text-align: left;
        padding: 1rem !important;
    }
}