.FAQ-heading{
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-start;
    max-width: 80%;
    margin-left: 12%;
    font-weight: 700;
    font-size: 50px;
    margin-top: 5rem;
    margin-bottom: 1rem;
    /* text-decoration: ; */
    
}


/* ------------------------------------------------------ */
/* FAQ Hover*/

.FAQ{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
    margin-bottom: 3rem;
    /* background-color: lightgoldenrodyellow; */
}

.FAQ-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 25rem;

}

.FAQ-container .card{
    position: relative;
    min-width: 31rem;
    min-height: 27rem;
    /* border-bottom: .3rem solid darkred !important; */
    /* border-right: .6rem solid lightcoral !important; */
    /* border : .1px solid #FCC000; */
    border-radius: 1rem;
    margin: .5rem;
    overflow: hidden;
    /* opacity: .8; */
}

.FAQ-container .card .contentAx ,.FAQ-container .card .contentBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.FAQ-container .card .contentAx > p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    object-fit: contain;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    padding: 12rem 0;
    font-weight: 800; 
    text-align: center;

}

.FAQ-container .card .contentBx::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: scaleY(0);
    transition: transform 0.2s ease-in ;
    transform-origin: right;

}
.FAQ-container .card:hover .contentBx::before{
    transform: scaleY(1);
    transition: transform 0.2s ease-in ;
    transform-origin: top;
    background: #f7f7f7;
    /* border: 1px solid black; */

}
.FAQ-container .card .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;

}
.FAQ-container .card .contentBx .content2 {
    position: relative;
    z-index: 1;
    padding: 2rem;
    transition: .5s ;
    transform: translateY(-30rem);
    transition-delay: 0s;

}
.FAQ-container .card:hover .contentBx .content2{
    transform: translateX(0px) ;
}

.FAQ-container .card .contentBx .content2 > p{
    font-size: 1.3rem;
    text-transform:capitalize;
}

.linegap{
    margin: 3rem;
}


@media screen and (max-width:500px){
 

    .FAQ-container .card{
        min-width: 24rem;
        max-width: 24rem;
        min-height: 35rem;
    }

    .FAQ-container .card .contentBx .content2 {
        position: relative;
        z-index: 1;
        padding: 2rem;
        transition: .5s ;
        transform: translateY(-45rem);
        transition-delay: 0s;
    
    }

    .FAQ-container .card .contentAx > p {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        object-fit: contain;
        font-size: xx-large;
        align-items: center;
        justify-content: center;
        /* padding: 22rem 0; */
        font-weight: 800; 
        text-align: center;
        padding: 15rem 1rem;

    
    }
}

@media screen and (min-width:320px) and (max-width:375px) {
    
    .FAQ-container .card{
        min-width: 19rem !important;
        max-width: 24rem;
        min-height: 50rem;
    }
    
}

/* 
.FAQ-2 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid lightgreen;
    min-width: 80%;
    min-height: 30rem;
}
.FAQ-2 .FAQ-container {
   
    min-width: 10rem;
    border: 2px solid lightgreen;
    min-height: 20rem;
    margin: 15px;
    padding: 10rem;
}

.FAQ-2 .FAQ-container .FAQ-qn,
.FAQ-2 .FAQ-container .FAQ-ans {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}

.FAQ-2 .FAQ-container .FAQ-qn > p{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    object-fit: cover;
}

.FAQ-2 .FAQ-container .FAQ-ans::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transition: .3s;
    transform: scaleX(0);
    transition: transform .3s ease-out;
    transform-origin: left;
}

.FAQ-2 .FAQ-container:hover .FAQ-ans::before{
    transform: scale(1);
    transition: transform .3s ease-out;
    transform-origin: left;
}

.FAQ-2 .FAQ-container .FAQ-ans{
display: flex;
justify-content: center;
align-items: center;
}
.FAQ-2 .FAQ-container:hover .FAQ-ans p {
    background-color: ;
} */
