.copyrights{
    background: black !important;      
    color: white !important;
    border-top: .2px solid gray;
}

.copyrights a{
    color: #FCC000 !important;
}


.Foot{
    background: black;
    color: white !important;
}

.logo-foot-text{
    font-size: 16px;
    text-align: justify;
    font-weight: 500 !important;
}

.Products .text-reset{
    text-decoration: none;
}

.Products .text-reset:hover , .Contact-info p:hover{
    color: #FCC000 !important;
    font-weight: 700;
    /* border-bottom: 1px solid white; */
}

.Contact-info {
    font-size: 18px;
}