@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Global  */
* {
    padding: 0 ;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}

html{
    zoom: 100% !important; 
    /* scroll-behavior: smooth !important; */
}



/* 1st ROW */
/* ---------------------------------------------------------- */
.social-1 {
    display: flex;
    color: white;
    /* border: 1px solid orange; */
    justify-content: space-between;
    background: #2d1753;
    padding: 0 ;
    align-items: center;
}

.social-1 .yellow,
.yellow {
    color: gold;
    font-weight: 600;
}

.floating{
    justify-content: end;
    display: flex;
    align-items: center;
    /* border: 1px solid yellow; */
}
.social-icons-1 > a > i{
    color: white;
    text-decoration: none;
    padding: 1rem 1rem;
    margin: 0 -.7rem 0 .1rem;

}

social-icons-1{
    padding-right: 5rem;
    background-color: #FFC000;
}

.social-icons-1 a i:hover {
    color: black;
    background-color: white !important;
}


@media screen and (max-width:1650px) {
    .social-icons-1{
        /* background-color: aqua; */
        max-width: 30%;

    }
    .floating{
        max-width: 60%;
    }
    
}

/* @media screen and (max-width:1600px) {
    .social-icons-1 a i {
        padding: 1.5rem 1.5rem;

    }
} */

@media screen and (max-width:1380px) {
    .social-1 {
        display: none;
    }
}



