.loader_bg{
    position: fixed;
    z-index: 999999 !important;
    background: whitesmoke;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 47.5%;
    /* animation-name: hellos !important; */

}


.loader img {
    min-height: 3.5rem;
    max-height: 3.5rem;
}

/* @keyframes hellos {
    0%{
        transform: scale(1);
    }

    25%{
        transform: scale(1.3);

    }

    50%{
        transform: scale(1.1);
    }

    75%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.3);
    }
} */

@media screen and (max-width:500px){
    .loader{
        border: 0 soild transparent;
        border-radius: 50%;
        position: absolute;
        top: 42%;
        left: 45%;
    }
}